*.log
*.suo
*.sdf
*.opensdf
*.dll
*.pdb
*.obj
*.res
*.lib
*.bin
*.exe
*.a
*.o
**/Binaries/**
**/Intermediate/ProjectFiles/obj
**/Intermediate/ProjectFiles/*
!**/Intermediate/ProjectFiles/*.vcxproj
**/Intermediate/Build
**/Intermediate/
**/Saved/**
**/Content/**